// --- Disable arrow on input number --- //
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

// --- Color --- //
$primary: #4b8c28 !important;
$light: #a1c7c5 !important;
$success: #21aa05 !important;
$danger: #f4024f !important;

// --- Base --- //
html,
body {
    padding: 0;
    margin: 0;
}

.bgn-primary {
    background-color: $primary;
}

.txt-primary {
    color: $primary;
}

.bgn-light {
    background-color: $light;
}

.txt-light {
    color: $light;
}

.bgn-success {
    background-color: $success;
}

.txt-success {
    color: $success;
}

.bgn-danger {
    background-color: $danger;
}

.txt-danger {
    color: $danger;
}

.bgn-gray {
    background-color: #e3e3e3;
}

// --- Custom Style in Prime React --- //

// Form
.p-inputtext:enabled:focus {
    border-color: #21aa05 !important;
    box-shadow: 0 0 0 0.02rem #21aa05 !important;
}

.p-inputtext:hover {
    box-shadow: 0 0 0 0.02em #21aa05 !important;
}

.p-inputgroup-customer > .p-inputgroup {
    height: 28px;
}

// Dropdown
.p-dropdown {
    border-color: white !important;
    box-shadow: 0 0 0 0.02rem #21aa05 !important;
    .p-inputtext {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        padding-right: 0;
        width: 200px;
        box-shadow: 0 0 0 0.02rem white !important;
    }

    .p-dropdown-trigger {
        width: 2.5rem;
    }
}

// table column highlight
.p-highlight {
    color: black;
    background-color: #e3e3e3;
}

.p-sortable-column-icon {
    color: black;
}

// Form Filter
.form-search {
    .p-inputtext:enabled:focus {
        border-color: white !important;
        box-shadow:
            0px 1px 8px rgba(0, 0, 0, 0.08),
            0px 3px 4px rgba(0, 0, 0, 0.1),
            0px 1px 4px -1px rgba(0, 0, 0, 0.1) !important;
    }

    .p-inputtext:hover {
        box-shadow:
            0px 1px 8px rgba(0, 0, 0, 0.08),
            0px 3px 4px rgba(0, 0, 0, 0.1),
            0px 1px 4px -1px rgba(0, 0, 0, 0.1) !important;
    }
}

// Button Filter
.filter-status {
    .p-button {
        padding: 10px 20px;
        border-color: white !important;
        box-shadow:
            0px 1px 8px rgba(0, 0, 0, 0.08),
            0px 3px 4px rgba(0, 0, 0, 0.1),
            0px 1px 4px -1px rgba(0, 0, 0, 0.1) !important;
    }

    .p-focus {
        background-color: #e3e3e3;
    }
}

// Button Confirm Dialog
.p-confirm-dialog-reject {
    padding: 8px 20px;
    font-size: small;
    color: $success;
    background-color: white;
    border-color: #21aa05;
    box-shadow: 0 0 0 0.02rem #21aa05 !important;
}

.p-confirm-dialog-accept {
    padding: 8px 20px;
    font-size: small;
    background-color: $success;
    box-shadow: 0 0 0 0.02rem #21aa05 !important;
}