// --- Disable arrow on input number --- //
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


// --- Color --- //
$primary: #4b8c28 !important;
$light: #a1c7c5 !important;
$success: #21aa05 !important;


// --- Base --- //
html,
body {
    padding: 0;
    margin: 0;
}

.bgn-primary {
    background-color: $primary;
}

.txt-primary {
    color: $primary;
}

.bgn-light {
    background-color: $light;
}

.txt-light {
    color: $light;
}

.bgn-success {
    background-color: $success;
}

.txt-success {
    color: $success;
}


// --- Custom Style in Prime React --- //
.p-inputtext:enabled:focus {
    border-color: #21aa05 !important;
    box-shadow: 0 0 0 0.02rem green !important;
}

.p-inputtext:hover {
    box-shadow: 0 0 0 0.02rem #21aa05 !important;
}

.p-inputgroup-customer > .p-inputgroup {
    height: 28px;
}


// --- Custom Style --- //
.btn-error{
    position: relative;
    top: -2rem;
}